body {
    background-color: #ffffff;
    padding: 0 50px 10px 50px;
    /*padding: 0 0 0 0;*/
}

.errorlist {
    color: red;
}

.buttonPositive {
    background-color: green;
    border: solid green 3px;
}

.buttonNegative {
    background-color: red;
    border: solid red 1px;
}

.login-form {
    width: 600px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

a.icon-block {
    display: inline-block;
    width: 10em;
    float: left;
    text-align: center;
}

a.icon-block i,
a.icon-block span {
    display: block;
    width: 100%;
    clear: both;
}