{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="login">
    <div id="container">
      <div id="branding" style="text-align: center">
        <h1>{{ object|yesno:"Update,Create" }} employee</h1>
      </div>
      <div class="main" id="main">
        <div class="content" id="content-start" tabindex="-1">
          <div id="content" class="colM">
            <div id="content-main">
              <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
