{% extends "base.html" %}

{% block title %}
  <title>Employees Hierarchy</title>
{% endblock %}

{% block content %}
  <h1>Employee Hierarchy</h1>

  <div class="tree">
    <div class="card" style="width: 18rem; margin: 10px">
      <div class="card-body">
        <div style="display: flex; flex-direction: row">
          <a href="{% url 'employees:employee-detail' pk=root_employee.id %}">
            <h5 class="card-title">{{ root_employee.full_name }}
              ({{ root_employee.position }})</h5>
          </a>
          <ul style="list-style: none;">
            {% if root_employee.employees.all %}
              {% for subordinate in root_employee.employees.all %}
                {% include 'employees/employee_node.html' with employee=subordinate %}
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
