{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="row">
    <div class="span6" style="float: none; margin: 0 auto;">
      <h1>
        Positions list
      </h1>

      {% if positions_list %}
        <ul>
          {% for position in positions_list %}
            <li>
              <a href="{% url "employees:positions-detail" pk=position.id %} ">{{ position.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no positions in Employee Service</p>
      {% endif %}
            <a href="{% url 'employees:positions-create' %}"
           class="btn btn-primary link-to-page">
          Create
        </a>
    </div>
  </div>
{% endblock %}
