{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Positions list
    <a href="{% url 'employees:positions-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if positions_list %}
    <ul>
      {% for position in positions_list %}
        <li>
          <a href="{% url "employees:positions-detail" pk=position.id %} ">{{ position.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no positions in Employee Service</p>
  {% endif %}
{% endblock %}
