{% extends 'base.html' %}
{% load static %}

{% block title %}
  {#    Register :: {{ block.super }}#}
{% endblock %}


{% block content %}
  <div class="login-form">
    <h1 style="text-align: center">Sign Up</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
  </div>
  {% block javascript %}
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#id_username').keyup(function () {
                $.ajax({
                    data: $(this).serialize(),
                    url: "{% url 'employees:validate_username' %}",
                    success: function (response) {
                        if (response.is_taken == true) {
                            $('#id_username').removeClass('is-valid').addClass('is-invalid');
                            $('#id_username').after('<div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>')
                        } else {
                            $('#id_username').removeClass('is-invalid').addClass('is-valid');
                            $('#usernameError').remove();

                        }
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
  {% endblock javascript %}

{% endblock %}
