{% extends "base.html" %}

{% block title %}
  <title>Login</title>
{% endblock %}


{% block content %}
  <div class="login">
    <div id="container">
      <div id="branding" style="text-align: center">
        <h1 id="site-name">Login</h1>
      </div>
      <div class="main" id="main">
        <div class="content" id="content-start" tabindex="-1">
          <div id="content" class="colM">
            <div id="content-main">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Log in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {#  </div>#}
  {#    <div class="inline-group">#}
  {#        <br><a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-block btn-social btn-google">#}
  {#          <span class="fa fa-google"></span>Sign in with Google#}
  {#        </a>#}
  {#        <a href="{% url "social:begin" "github" %}" class="btn btn-block btn-social btn-github">#}
  {#            <span class="fa fa-github"></span>Sign in with GitHub#}
  {#        </a>#}
  {#        <a href="{% url "social:begin" "facebook" %}" class="btn btn-social btn-facebook btn-block">#}
  {#            <span class="fa fa-facebook"></span>Sign in with Facebook#}
  {#        </a>#}
  {#    </div>#}

  {% block javascript %}
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#id_username').keyup(function () {
                $.ajax({
                    data: $(this).serialize(),
                    url: "{% url 'employees:check_username' %}",
                    success: function (response) {
                        if (response.is_taken == true) {
                            $('#id_username').removeClass('is-invalid').addClass('is-valid');
                        } else {
                            $('#id_username').removeClass('is-valid').addClass('is-invalid');
                            $('#usernameError').remove();

                        }
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        })
    </script>
  {% endblock javascript %}

{% endblock %}
